__pycache__/
*.pyc
.env
venv/
instance/
.pytest_cache/
.coverage
*.log
.DS_Store
.idea/
*.swp
*.swo
.vscode/
node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
.replit
replit.nix
.upm/
poetry.lock
.config/
