{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-8 text-center">
            <div class="d-flex justify-content-around">
                <a href="{{ url_for('companies') }}" class="btn btn-primary" style="width: 25%; height: 10vh; display: flex; align-items: center; justify-content: center;">Panel Sistemi</a>
                <a href="#" class="btn btn-primary" style="width: 25%; height: 10vh; display: flex; align-items: center; justify-content: center;">Personel Takip</a>
                <a href="#" class="btn btn-primary" style="width: 25%; height: 10vh; display: flex; align-items: center; justify-content: center;">Ön Muhasebe</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
